@import "variables";
@import "vendor_prefixes";
@import "glyphicons";
@import "utils";
@import "sprites";

.s-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  color: #fff;
  z-index: 100000;
  @include transform(translate(300px, 0));
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;

  &.visible {
    @include transform(translate(0, 0));
  }

  .s-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
//    -webkit-filter: blur(1px);
    z-index: 0;
  }

  .s-surfylogo {
    position: absolute;
    bottom: 5px;
    right: 10px;

    div {
      background: url('chrome-extension://__MSG_@@extension_id__/images/surfy-logo-alt.png') no-repeat;
      background-size: 100%;
      width: 76px;
      height: 41px;
    }
  }

  .s-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 15px;
  }

  .s-link {
    margin: 10px 15px;
  }

  .s-options {
    @extend .no-list;
    margin: 0 15px;

    li {
      display: inline-block;
    }

    .s-ranking {
      h2 {
        font-size: 20px;
        margin-top: 5px;
      }
    }
  }

  .s-top-options {
    @extend .no-list;
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 2;

    li {
      display: inline-block;
    }

    .s-close {
      color: $light-gray;
      font-size: 14px;
    }

    .s-signin {
      color: $light-gray;
      background: none;
      border: none;
      text-decoration: underline;
    }
  }

  .s-comment {
    margin: 5px 15px 10px;

    .s-textarea {
      float: left;
      width: 170px;
      height: 40px;
      border: none;
      padding: 5px;
    }

    .s-button {
      width: 40px;
      height: 50px;
      background: $primary;
      border: none;
      border-left: 1px solid black;
      color: white;
      font-size: 12px;
    }

    .s-entry {
      position: relative;
      margin-top: 10px;

      .s-avatar {
        float: left;
        width: 35px;
        height: 35px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        border: 2px solid #eee;
      }

      .s-text {
        float: left;
        margin-left: 10px;

        .s-author {
          font-size: 10px;
          color: #aaa;
        }

        .s-cmt {
          margin-top: 3px;
        }
      }

      .s-controls {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }

      &:hover {
        .s-controls {
          display: block;
        }
      }
    }
  }
}