@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\000033}}
.surfyContainer {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  font-size: 12px;
  height: 100%;
  color: #fff;
  z-index: 100000;
  -webkit-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000317}}
.surfyContainer.visible {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000321}}
.surfyContainer .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-filter: blur(1px);
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000332}}
.surfyContainer .logo {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000338}}
.surfyContainer .content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000345}}
.surfyContainer .link {
  margin: 10px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000349}}
.surfyContainer .comment {
  margin: 10px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mercedh2k\/Workspaces\/surfy\/surfy-extension\/app\/styles\/main\.scss}line{font-family:\0000352}}
.surfyContainer .comment .author {
  font-weight: bold;
}
