@import "variables";
@import "vendor_prefixes";
@import "glyphicons";
@import "utils";

.s-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 300px;
  font-size: 12px;
  height: 100%;
  color: #fff;
  z-index: 100000;
  @include transform(translate(300px, 0));
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;

  &.visible {
    @include transform(translate(0, 0));
  }

  .s-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    -webkit-filter: blur(1px);
    z-index: 0;
  }

  .s-surfylogo {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

  .s-close {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #aaa;
    font-size: 14px;
  }

  .s-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .s-link {
    margin: 10px 15px;
  }

  .s-options {
    margin: 0 15px;
  }

  .s-comment {
    margin: 10px 15px;

    .s-textarea {
      float: left;
      width: 200px;
      height: 50px;
      border: none;
      padding: 5px;
    }

    .s-button {
      width: 60px;
      height: 60px;
      background: $primary;
      border: none;
      color: white;
      font-size: 14px;
    }

    .s-entry {
      position: relative;
      margin-top: 10px;

      .s-avatar {
        float: left;
        width: 35px;
        height: 35px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        border: 2px solid #eee;
      }

      .s-text {
        float: left;
        margin-left: 10px;

        .s-author {
          font-size: 10px;
          color: #aaa;
        }

        .s-cmt {
          margin-top: 3px;
        }
      }

      .s-controls {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }

      &:hover {
        .s-controls {
          display: block;
        }
      }
    }
  }
}