<div class="s-bg"></div>
<div class="s-box"></div>
<div class="s-content">
    <div>
        <ul class="s-options">
            <li class="s-ranking">
                {{#each stars}}
                <div class="glyphicon glyphicon-star{{ empty }} starRating" data-rating="{{ index }}"></div>
                {{/each}}
            </li>
            {{#isHot}}
            <li class="s-hotness">
                <div class="hotness-sprite hotness-hotness-4"></div>
            </li>
            {{/isHot}}
        </ul>
        <div class="s-comment"><textarea class="s-textarea" id="commentBox"
                                        {{#signedId}}placeholder="post your comment here..."{{/signedId}}
                                        {{#notSignedId}}placeholder="please sign in first to post comment"{{/notSignedId}}
                                        {{#notSignedId}}disabled{{/notSignedId}}></textarea>
            <button class="s-button" id="commentBtn" {{#notSignedId}}disabled{{/notSignedId}}>Post</button>

            <div class="s-entries"><h3 class="alt">Top Comments</h3>
                {{#nocomment}}
                Be the first one to contribute! :)
                {{/nocomment}}
                {{#each comments}}
                <div class="s-entry">
                    <img class="s-avatar" src="{{ avatar }}"/>

                    <div class="s-text">
                        <div class="s-author">{{ author }}</div>
                        <div class="s-cmt">{{ comment }}</div>
                    </div>
                    <!--<div class="s-controls"><span class="glyphicon glyphicon-pencil"></span></div>-->
                    <div class="clearfix"></div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<ul class="s-top-options">
    {{#notSignedId}}
    <li>
        <button class="s-signin">Sign me in</button>
    </li>
    {{/notSignedId}}
    <li><a href="#" class="s-close">x</a></li>
</ul>

{{#notSignedId}}
<div class="s-signin-panel">
    <button class="s-signin s-btn-signin-fb" width="73" height="25" data="fb" />
    <button class="s-signin s-btn-signin-google" width="73" height="25" data="google" />
</div>
{{/notSignedId}}

<div class="s-surfylogo">
    <a href="#" target="_blank">
        <div></div>
    </a>
</div>